:root {
    --nav-size: 80px;
    --border: 1px solid #6A150D;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #6A150D;
    --bg-secondary: #350A06;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

.top-nav-bar {
    height: var(--nav-size); /* This might need to be change to rem */
    background-color: var(--bg-secondary);
    padding: 0 1rem;
    border-bottom: var(--border);
}

.top-nav-bar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* All the children will start on the right instead of left*/
}

.top-nav-item {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%; /* which is a perfect circle */
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.top-icon-button:hover {
    filter: brightness(1.2);
}