nav {
    background-color: #563d7c;
    color: #fff;
    padding: 30px 60px; /* 30px top and bottom and 60px left and right */
    /*
    *   'display: flex' and 'justify content: space-between' will grab elements and push them to side corners
    */
    display: flex;
    justify-content: space-between;
}

nav ul {
    /*
    *   'display: flex' and 'justify content: space-around' and 'align-items: center' 
    *   will display same space around and align vertically in the center of the children elements which is lis
    */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none; /* remove the underline */
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color: yellow;
    text-decoration: none;
}