:root {
    --nav-size: 80px;
    --border: 1px solid #6A150D;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #6A150D;
    --bg-secondary: #350A06;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-primary);
    text-decoration: none;
}

.top-nav-bar {
    height: var(--nav-size); /* This might need to be change to rem */
    background-color: var(--bg-secondary);
    padding: 0 1rem;
    border-bottom: var(--border);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    
}

.top-nav-bar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end; /* All the children will start on the right instead of left*/
}

.top-nav-items {
    width: calc(var(--nav-size) * 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%; /* which is a perfect circle */
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.top-icon-button:hover {
    filter: brightness(1.2);
}

.top-icon-button svg {
    fill: var(--text-primary);
    width: 25px;
    height: 25px;
}

.drop-down {
    position: absolute;
    top: 60px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg-secondary);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.top-menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.top-menu-item:hover {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    text-decoration: none;   
}

.top-left-icon svg {
    color: var(--text-primary);
    width: 20px;
    height: 20px;
}

.top-item-text {
    text-decoration: none;
    padding: 0 0 0 10px;
    color: var(--text-primary);
}

.menu {
    width: 100%;
}

.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}
.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-primary-exit {
    position: absolute;
}
.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}

.menu-secondary-enter {
    position: absolute;
    transform: translateX(110%);
}
.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-secondary-exit {
    position: absolute;
}
.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}