/* Pre-define variables for later use */
:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #6A150D;
    --bg-secondary: #350A06;
    --transition-speed: 600ms;
}

/* Body */
body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Main */
main {
    margin-left: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
}

/* Nav bar includes nav-bar + nav-bar-nav + nav-item + nav-link + link-text */
.nav-bar {
    position: fixed;
    background-color: var(--bg-primary);
}

.nav-bar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}
  
.nav-item:last-child {
    margin-top: auto; /* 66vh seems to do the trick, but auto does not */
}

.nav-link {
    display: flex !important;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    padding: 0.5rem 2rem !important;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.search-button {
    cursor: auto !important;
}

.home-error {
    text-align: center;
    margin-top: 30px;
    font-size: 30px !important;
    color: var(--bg-primary);
}

.home-next {
    color: var(--bg-primary);
    text-align: center;
    margin: 15%;
}

.home-next-button {
    background-color: #6A150D !important;
    color: white !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    border: 0 !important;
    transition: 0.5s all ease-in-out !important;
    cursor: pointer !important;
    width: 80%;
    border-radius: .50rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Cards include row + column + card */
/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
    justify-content: center;
    margin: 0 5% !important;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 33%;
    padding: 0 5%;
    margin: 5% 0;
}

.card {
    height: 100% !important;
    width: 100% !important;
    border: 1px solid #6A150D !important;
    /* max-height: 667px !important; */
}

.card-text {
     color: #6A150D;
     font-size: 20px !important;
     margin-bottom: 1rem !important;
}

.home-form-button {
    background-color: #6A150D !important;
    color: white !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    border: 0 !important;
    transition: 0.5s all ease-in-out !important;
    cursor: pointer !important;
    width: 100%;
    border-radius: .50rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.home-form-button:disabled {
    background-color: #a26254 !important;
    cursor: auto !important;
}

.text-muted {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    margin-bottom: 10px !important;
}


/* === Body === */
.home-body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 840px;
    margin-top: -100px;
    padding: 100px 15px 15px 15px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: overflow;
}

.home-content {
    color: var(--bg-primary);
    overflow-x: hidden;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    font-size: 20px !important;
}

.home-content::-webkit-scrollbar {
    display: none;
}

/* Testing */
@media screen and (max-width: 667px) and (orientation: landscape) {
    .all-container {
        transform: translate(-50%, -50%);
        position: fixed;
        width: 400px !important;
        height: 670px !important;
        overflow: hidden;
    }
    .asset-container {
        transform: translate(0%, 0%);
    }
    .home-next {
        margin: 5% 0 0 0 !important;
    }
    .nav-bar {
        bottom: 0 !important;
    }
    .home-body {
        height: 480px !important;
        margin-top: 0px !important;
        padding: 15px 15px 15px 15px !important;
    }
}

/* Small Screens */
@media only screen and (max-width: 1000px) {
    .nav-bar {
        bottom: 0;
        width: 100%; /* 100vw */
        height: 5rem;
        z-index: 1;
    }

    .logo {
        display: none;
    }

    .nav-bar-nav {
        flex-direction: row;
    }

    .column:first-child {
        margin-top: 3rem !important;
    }

    .column:last-child {
        margin-bottom: 8rem !important;
    }

    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
        margin-top: 5rem;
        position: relative;
        top: 50%;
        left: 50%;
        width: 375px;
        height: 667px;
        transform: translate(-50%, -50%);
    }
    .row {
        margin: 0 -15px !important;
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 5rem !important;    
    }
    .card-body {
        padding: 0.9rem !important;
    }
    .card-img-top {
        height: 40% !important;
    }
    .home-next {
        font-size: 15px !important;
        margin: 20% 0 0 0;
    }
    .home-body {
        height: 640px;
        margin-top: 280px;
        padding: 15px 15px 15px 15px;
    }
}

/* Large Screens */
@media only screen and (min-width: 1000px) {
    .nav-bar {
        top: 0;
        width: 5rem;
        height: 100vh;
        z-index: 1;
    }
    
    .nav-bar:hover {
        width: 16rem;
    }

    .nav-bar:hover .link-text {
        display: inline;
    }

    .logo {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        color: var(--text-secondary);
        background: var(--bg-secondary);
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
    }

    .logo img {
        display: none;
    }
    
    .logo svg {
        transform: rotate(0deg);
        transition: var(--transition-speed);
    }
    
    .nav-bar:hover .logo svg {
        transform: rotate(-180deg);
    }

    .card-img-top {
        height: 40% !important;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
     }
     
     .row > div[class*='col-'] {
       display: flex;
       margin-bottom: 30px !important;
     }
     .home-next {
        margin: 10%;
    }
}