@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-color: #6A150D;
}

.texts{
    color: white;
    text-decoration: none;
}
/* === Containers === */
.choose-container-header {
    position: fixed;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.choose-container-body {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 320px;
}

.choose-container-footer {
    position: fixed;
    padding: 10px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
/* === Buttons === */
button {
    outline: none;
    box-shadow: none;
}

.buttons, .intro {
    margin: auto;
    width: 100%;
    text-align: center;
}

.login-button {
    margin-bottom: 2rem;
    background-color: #6A150D;
    border: 1px solid white;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    font-size: 21px;
    margin: 4px 2px;
    border-radius: 30px;
    width: 95%;
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #6A150D;
}

.register-button {
    background-color: white;
    border: 1px solid #6A150D;
    color: #6A150D;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    font-size: 21px;
    margin: 4px 2px;
    border-radius: 30px;
    width: 95%;
}

.register-button:hover {
    background-color: #EAECEE;
    color: #6A150D;
    border: 1px solid white;
}
/* === Lists === */

.choose-list-items {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
}

.choose-list-items:hover {
    text-decoration: underline;
}

.copyright {
    color: white;
    text-decoration: none;
    display: inline-flex;
}
/* === Phone and Landscape === */
@media screen and (max-width: 375px) {
    html {
        overflow-x: hidden;
        position: absolute;
    }
    
  }
@media screen and (max-width: 667px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        overflow-x: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .choose-container-header {
        position: fixed;
        -webkit-transform: translate(-50%, -125%);
        transform: translate(-50%, -125%);
    }
    .choose-container-footer {
        position: fixed;
        -webkit-transform: translate(-50%, 330%);
        transform: translate(-50%, 330%);
        width: 375px;
    }
}