.register-container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: white;
    padding: 0 0 55px;
}
/* === Logo === */
.register-container-header {
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* === Error Display === */
.register-error {
    line-height: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: unset;
}

/* === Form === */
.register-form-title {
    justify-content: center;
    display: flex;
    padding: 15px 5px;
}

.register-form-container {
    background: none !important;
    width: 320px !important;
    display: inline-block;
    padding: 0px 20px !important;
    text-align: center !important;
    border: 0 !important;
    min-width: 320px !important;
}

.register-form-group, .register-form-check {
    display: table;
}

.register-input {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    line-height: 30px !important;
    padding: 10px 30px !important;
}
/* === Button === */
.register-form-button {
    background-color: #6A150D !important;
    color: white !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    border: 0 !important;
    transition: 0.5s all ease-in-out !important;
    cursor: pointer !important;
    width: 100%;
}

.register-form-button:disabled {
    background-color: #a26254 !important;
}

.register-container-footer {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.register-list-items {
    color: #6A150D;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
}
/* === Phone and Landscape === */
@media screen and (max-width: 375px) {
    html {
        overflow-x: hidden;
        position: absolute;
    }
  }
@media screen and (max-width: 667px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        overflow-x: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .register-container {
        position: fixed;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .register-container-header {
        position: fixed;
        -webkit-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%);
    }
    .register-container-footer {
        position: fixed;
        -webkit-transform: translate(0%, -5%);
        transform: translate(0%, -5%);
    }
}