.container {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: white;
    padding: 0 0 50px;
}
/* === Logo === */
.container-header {
    position: fixed;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* === Form === */
.form-title {
    justify-content: center;
    display: flex;
    padding: 15px 5px;
}

.form-container {
    background: none !important;
    width: 320px !important;
    display: inline-block;
    padding: 20px !important;
    text-align: center !important;
    border: 0 !important;
    min-width: 320px !important;
}

.form-group, .form-check {
    display: table;
}


form input {
    font-size: 20px !important;
    margin-bottom: 15px !important;
    line-height: 40px !important;
    padding: 10px 30px !important;
}

form label {
    position: fixed;
    left: 40px;
    font-size: 15px;
    font-weight: unset;
}
/* === Button === */
button {
    background-color: #6A150D !important;
    color: white !important;
    font-size: 20px !important;
    padding: 10px 20px !important;
    border: 0 !important;
    transition: 0.5s all ease-in-out !important;
    cursor: pointer !important;
    width: 100%;
}

.container-footer {
    position: fixed;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.list-items {
    color: #6A150D;
    text-decoration: none;
    padding: 10px;
    display: inline-flex;
}
/* === Phone and Landscape === */
@media screen and (max-width: 375px) {
    html {
        overflow-x: hidden;
        position: absolute;
    }
  }
@media screen and (max-width: 667px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        overflow-x: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .container {
        position: fixed;
        -webkit-transform: translate(-50%, -45%);
        transform: translate(-50%, -45%);
    }
    .container-header {
        position: fixed;
        -webkit-transform: translate(-50%, -55%);
        transform: translate(-50%, -55%);
    }
    .container-footer {
        position: fixed;
        -webkit-transform: translate(0%, -5%);
        transform: translate(0%, -5%);
    }
}