nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #002333;
    padding: 10px 50px;
    color: #fff;
}

/* Set a container for image */
.logoImage {
    width: 100px;
    height: 100px;
}
/* Then resize it */
.logoImage img {
    width: 100%;
    height: auto;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}